@import "/src/styles.scss";

.logo {
  cursor: pointer;
  padding-right: rem(10);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-time-short);

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    color: var(--red-color);
  }

  &-icon {
    @include icon-element;
  }
}
