@import "/src/styles.scss";

.card__more-button-wrapper {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__more-button {
    background-color: var(--red-color);
    color: var(--white-color);
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    height: 2rem;
    width: 5rem;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}
