@import "/src/styles.scss";

.card__more-button-wrapper {
  height: rem(80);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__more-button {
  @include base-button-element;
  background-color: var(--red-color);
  color: var(--white-color);
  cursor: pointer;
  border: none;
  border-radius: rem(4);
  height: 2rem;
  width: 5rem;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
