<div class="filter">
  <div class="filter__wrapper">
    <span class="filter__title">Sorting by:</span>
    <ul class="filter__itemlist">
      <li class="filter__item">
        <input class="filter__item-input" type="checkbox" id="date" />
        <label class="filter__item-label" for="date">date</label>
      </li>
      <li class="filter__item">
        <input class="filter__item-input" type="checkbox" id="views" />
        <label class="filter__item-label" for="views">count of views</label>
      </li>
      <li class="filter__item">
        <input class="filter__item-input" type="checkbox" id="word" />
        <label
          (click)="sortByWordInputAccessToggle()"
          class="filter__item-label"
          for="word"
          >by word or sentance</label
        >
        <input
          [disabled]="isInputDisabled"
          class="filter__item-text-input"
          type="text"
        />
      </li>
    </ul>
  </div>
</div>
