<div class="card__stats">
    <div class="card__stats-element">
        <app-card-stats-views></app-card-stats-views>
        {{stats?.viewCount | shortNumber}}
    </div>
    <div class="card__stats-element">
        <app-card-stats-likes></app-card-stats-likes>
        {{stats?.likeCount | shortNumber}}
    </div>
    <div class="card__stats-element">
        <app-card-stats-dislikes></app-card-stats-dislikes>
        {{stats?.dislikeCount | shortNumber}}
    </div>
    <div class="card__stats-element">
        <app-card-stats-comments></app-card-stats-comments>
        {{stats?.commentCount | shortNumber}}
    </div>
</div>