@mixin base-shadow($color) {
  box-shadow: rem(0) rem(0) rem(8) $color;
}

@mixin base-button-element {
  @include base-shadow(var(--shadow-black));

  &:hover {
    opacity: 1;
    @include base-shadow(var(--shadow-black));
  }

  &:active {
    background-color: var(--grey-color);
    @include base-shadow(var(--shadow-black));
  }
}

@mixin card-stats-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin icon-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
