:root {
  --main-bg: rgba(146, 146, 146, 0.486);
  --secondary-bg: rgb(207, 26, 26);
  --grey-color: rgb(112, 107, 107);
}

$red-color: rgb(207, 26, 26);
$white-color: white;
$grey-color: rgb(112, 107, 107);
