<div class="card">
    <div class="card__content">
        <img src="" alt="Card image">
        <!-- <div class="card__stats">
            <div class="card__stats-item">
                <img src="" alt="I">
                <span>0</span>
            </div>
            <div class="card__stats-item">
                <img src="" alt="I">
                <span>0</span>
            </div>
            <div class="card__stats-item">
                <img src="" alt="I">
                <span>0</span>
            </div>
            <div class="card__stats-item">
                <img src="" alt="I">
                <span>0</span>
            </div>
        </div> -->
        <app-card-stats></app-card-stats>
        <span class="card__title">{{cardName}}</span>
        
    </div>
    <div class="card__more-wrapper"></div>
</div>
