@import '/src/styles.scss';

.search {
    &__input {
        width: 25rem;
        height: rem(25);
        border: none;

        &:focus {
            outline: none;
        }
    }

    &__submit {
        background-color: var(--secondary-bg);
        color: var(--white-color);
        width: 5rem;
        height: rem(27);
        border: none;
        border-radius: 0 rem(4) rem(4) 0;
        box-sizing: border-box;
        cursor: pointer;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        &:active {
            background-color: var(--grey-color);
        }
    }
}
