@import 'src/styles.scss';

.search__settings-button {
  @include base-button-behavior;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: rem(4.5);
  width: rem(24);
  margin-left: rem(14.5);
  background: var(--red-color);
  border-radius: rem(5);
  opacity: 0.8;
  transition: 1s;
  cursor: pointer;

  &:hover {
    .top {
      &::before {
        transition: 1s;
        transform: translateX(-(rem(6)));
      }
    }

    .middle {
      &::before {
        transition: 1s;
        transform: translateX(rem(6));
      }
    }

    .bottom {
      &::before {
        transition: 1s;
        transform: translateX(-(rem(6)));
      }
    }
  }
}

.line {
  display: block;
  margin: rem(1.75);
  width: rem(13.5);
  height: rem(1.5);
  background-color: var(--white-color);
  border-radius: rem(1);
}

.top {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -(rem(1));
    right: rem(2);
    background-color: var(--white-color);
    border-radius: rem(1.75);
    width: rem(3.5);
    height: rem(3.5);
    transition: 1s;
  }
}

.middle {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -(rem(1));
    left: rem(2);
    background-color: var(--white-color);
    border-radius: rem(1.75);
    width: rem(3.5);
    height: rem(3.5);
    transition: 1s;
  }
}

.bottom {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -(rem(1));
    right: rem(2);
    background-color: var(--white-color);
    border-radius: rem(1.75);
    width: rem(3.5);
    height: rem(3.5);
    transition: 1s;
  }
}