@import "./style/variables.scss";
@import "./style/mixins.scss";
@import "./style/functions.scss";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "~normalize.css/normalize.css";

:root {
  font-size: 17px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
