@import "./style/variables.scss";
@import "./style/mixins.scss";
@import "./style/functions.scss";

:root {
  font-size: 16px;
}

html,body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
