@import "/src/styles.scss";

.search-result-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

@media (max-width: $medium-screen) {
  .search-result-page {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: $small-screen) {
  .search-result-page {
    grid-template-columns: 1fr 1fr;
  }
}
